.home-container{
    width: 100%;
    background-image: linear-gradient(to left, #f7fbfd, #e0efff);
    margin-top: 70px;
    min-height: 100vh;
    padding-bottom:10px;
}

.home-top-container{
    height: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px 40px;
    box-sizing: border-box;
}

.home-top-left-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 50%;
}

.home-top-right-container{
    height: 100%;
    width: 50%;
    display: flex;
}

.home-top-left-ai-text-container{
    background-color: #d8ebfc;
    border-radius: 20px;
    padding: 2px 10px;
    transform: translateY(10px);
    animation: slideIn 1s infinite ease-in-out alternate;
}

@keyframes slideIn {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.home-top-left-ai-text{
    font-size: 10px;
    color: #007bff;
    font-weight: bold;
}

.home-top-left-heading{
    font-size: 44px;
    font-weight: bold;
    color: #000000;
    margin-top: 20px;
    width: 450px;
    animation: fadeIn 1s ease-in-out;
}



.home-top-left-heading span{
    color: #007bff;
    font-size: 50px;
}

.home-top-left-description{
    font-size: 16px;
    color: #2c2c2c;
    margin-top: -10px;
    width: 500px;
    animation: fadeIn 1s ease-in-out;
}




.resume-design-container{
    background-color: #f4f9ff;
    border-radius: 10px;
    height: 300px;
    width: 200px;
    box-shadow: 0px 4px 6px rgba(1, 164, 245, 0.1);
    transform: skew(5deg,5deg);
    padding: 15px;
    margin-top: 10px;
    margin-right: 20px;
    animation: fadeIn 1s ease-in-out;
}


.resume-heading{
    font-size: 8px;
    color: #000;

}

.resume-design-template{
    background-color: #e2e2e2;
    height: 10px;
    border-radius: 5px;
    width: 150px;
    margin-top: 10px;
    animation: fade 1s ease-in-out infinite alternate;
    
}

.resume-design-template-1{
    width: 60px;
}

.resume-design-template-2{
    width: 180px;
}
@keyframes fade {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}


.resume-design-container-2{
    background-color: #f9fcff;
    border-radius: 10px;
    height: 180px;
    width: 140px;
    box-shadow: 0px 4px 6px rgba(1, 164, 245, 0.1);
    transform: skew(-5deg,5deg);
    padding: 20px;
    margin-left: 20px;
    margin-top: 10px;
    animation: fadeIn 1s ease-in-out;
}

.ats-template-sub-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin-top: -10px;
}

.ats-template-text{
    font-size: 14px;
    color: #000000;
    font-weight: bold;
    animation: fade 1s ease-in-out infinite alternate;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.home-bottom-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    padding-left: 0px;
    padding-bottom: 80px;
    justify-content: space-around;
}

.many-req-err-container{
    width: 92%;
    height: 500px;
    background-color: #f4f9ff;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #007bff;
    box-shadow: 0px 4px 6px rgba(1, 164, 245, 0.2);
}

.many-req-err-text{
    font-size: 16px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out infinite alternate;
}



.many-req-err-image{
    width: 100%;
    height: 60%;
    object-fit: contain;
    animation: moveBasedOnCursor 1s ease-in-out infinite alternate;
}

@keyframes moveBasedOnCursor {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.try-again-button{
    padding: 10px 20px;
    background-color: #fe2f36;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    .home-container{
        width: 100%;
        padding-bottom: 350px;
    }
    .home-top-container {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto;
        width: 100%;
    }
    .home-top-left-container {
        width: 100%;
        align-items: flex-start;
        text-align: left;        
    }
    .home-top-right-container {
        width: 100%;
        justify-content: center;
        margin-top: 20px;
    }
    .home-top-left-ai-text-container{
        height: 10px;
        width: 80px;
        display: flex;
        align-items: center;
    }
    .home-top-left-ai-text{
        font-size: 5px;
    }
    .home-top-left-heading{
        font-size: 20px;
        width: 300px;
    }
    .home-top-left-heading span{
        font-size: 26px;
    }
    .home-top-left-description{
        font-size: 12px;
        width: 300px;
    }
    .resume-design-container{
        height: 150px;
        width: 100px;
    }
    .resume-design-container-2{
        height: 120px;
        width: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
    }
     .resume-heading{
        font-size: 6px;
     }
     .resume-design-template{
        width: 40px;
     }
     .resume-design-template-1{
        width: 40px;
     }
     .resume-design-template-2{
        width: 60px;
     }
     .ats-template-text{
        font-size: 6px;
     }
    .none{
        display: none;
    }
    .home-bottom-container{
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;
    }

    .many-req-err-container{
        width: 80%;
    }

    .many-req-err-image{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
}




